<template>
    <div>

    </div>
</template>

<script>
import { reactive, toRefs } from 'vue'
{{#each apiList}}
    import { } from '{{this}}'
{{/each}}
export default {
	components: {},
        props: {},
        setup(props) {
        	const data = reactive({})
                return toRefs(data)
        }
}
</script>
