<template>
  <div class="{{name}}">
    <!-- template here -->
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue' 

export default defineComponent({
  name:'{{name}}',
  props:{

  }
})
</script>